{% extends "base.html" %}

{% block content %}

<h1 class="my-5"> These are the notes</h1>
<div class="row row-cols3 g-2">
    {% for note in notes %}
    <div class="col">
        <div class="p-3 border">
            <a href="{% url 'notes.details' pk=note.id %}" class="text-dark text-decorator" >
             <h3>{{note.title}}</h3>
            </a href>
             {{note.text|truncatechars:20}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

<!--
Everything within the curly bracket is DTL Logic

Loop happen between curly bracket and percentages
Things that are to be rendered are put within double curly brackets

-->